.paragraphContainer {
  border-radius: 25px;
  height: 100px;
  background-color: transparent;
}

.titleSection {
  position: absolute;
  top: 33.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 10px;
  margin-top: -32.5px;
  font-size: 25px;
  border-radius: 25px;
  background-color: rgba(31, 78, 121, 0.936);
  box-shadow: 6px 6px 6px 1px rgba(31, 78, 121, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.aboutParagraph {
  font-size: 20px;
  margin-top: 30px;
  padding: 20px;
  opacity: 0;
  transform: translateX(200%);
}

.projectsContainer,
.skillsContainer {
  width: inherit;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;
  transform: translateX(-200%);
}

.project {
  position: relative;
  min-height: 100%;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 12px 12px 20px 1px rgba(31, 78, 121, 0.8);
  background-color: rgba(31, 78, 121, 0.93);
}

.imgContainer {
  width: 70%;
  height: 120px;
  margin: auto;
  overflow: hidden;
}

.projectIcon {
  height: 100px;
  padding-top: 25px;
  display: flex;
  object-fit: contain;
}

.projectTitle {
  width: 220px;
  font-weight: bold;
  font-size: 25px;
  margin: 10px auto 50px auto;
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(38, 108, 174, 0.936);
  object-fit: contain;
}

.pragraphTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(38, 108, 174, 0.936);
}

.projectDescription {
  height: 130px;
  font-size: 22.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 30px;
  /* overflow-x: scroll;
	overflow-y: scroll; */
}

.projectObjectiveUl {
  padding: 0px 20px;
  margin-bottom: 55px;
  list-style-type: none;
  /* overflow-x: scroll;
	overflow-y: scroll; */
}

.projectObjectiveLi {
  font-size: 20px;
  padding-bottom: 10px;
  list-style-type: none;
}
.arrowStyle {
  margin-right: 20px;
}

.projectObjectiveWarningContainer {
  margin-bottom: 55px;
}

.projectObjectiveWarningUl {
  margin-bottom: 10px;
  padding: 0px 20px;
}
.warningStyle {
  font-size: 25px;
  margin-right: 3px;
}
.warning {
  font-size: 14px;
}
.linkContainer {
  position: absolute;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
}

.linkContainer :hover {
  scale: 1.3;
  border: 3px solid white;
}

.projectLink {
  z-index: 1;
  width: 70px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(38, 108, 174, 0.936);
}

.iconsLanguageUl {
  width: 160px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 10px 0px;
  background-color: rgba(31, 78, 121, 0.6);
}

.languageIcons {
  width: 70px;
}

.iconsName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

:root {
  --progress: rgba(38, 108, 174, 0.936);
}

.container {
  width: 100%;
  margin: 0px auto;
}

.container p {
  text-align: center;
  margin-bottom: 7px;
}

.progressbarWrapper {
  width: 80%;
  height: 10px;
  border-radius: 15px;
  background-color: #dfe6e9;
}

.progressbar {
  width: 0;
  height: inherit;
  background-color: var(--progress);
  border-radius: 15px 0px 0px 15px;
  margin: 0px;
}
