.letterContainer {
  width: 3.75rem;
  height: 5.625rem;
  font-weight: bolder;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.625rem;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  animation: cardFlip 0.3s ease forwards;
}
@keyframes cardFlip {
  100% {
    transform: rotateY(0deg);
  }
}
.charFront {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  background-color: rgba(31, 78, 121, 0.936);
  backface-visibility: hidden;
}

/* Début version Mobile jusqu'à 529px*/
@media all and (max-width: 529px) {
  .letterContainer {
    width: calc(0.7 * 2.75rem);
    height: calc(0.7 * 3.625rem);
    border-radius: 0.3125rem;
  }
}
/* Fin version Mobile jusqu'à 529 px*/
