.articleCollapse {
  margin: auto;
  margin-bottom: 1.875rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.125rem;
  overflow: hidden;
  min-height: 3.25rem;
}

.btnCollapse {
  width: 100%;
  height: 3.25rem;
  font-size: 1.125rem;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 1.125rem;
  /* border: #FF6060; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnCollapse span {
  margin-left: 2%;
  margin-right: auto;
  color: white;
}

.btnCollapse :hover {
  cursor: pointer;
}

.arrowCollapse {
  margin-right: 2%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.arrowCollapseRotate {
  margin-right: 2%;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.collapseContent {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 3%;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
  transition: margin-top 0.5s ease-in-out, opacity 0.5s ease-in;
}

.hidden {
  margin-top: -18.75rem;
  margin-bottom: 0rem;
  padding: 3%;
  list-style: none;
  font-size: 1.5rem;
  color: rgba(31, 78, 121, 0.936);
  opacity: 0;
  transition: margin-top 0.5s ease-in-out, opacity 0.5s ease-out;
}

@media screen and (max-width: 48rem) {
  .articleCollapse {
    width: 100%;
    border-radius: 0.3125rem;
    min-height: 1.875rem;
  }

  .btnCollapse {
    height: 1.875rem;
    border-radius: 0.3125rem;
  }

  .btnCollapse span {
    font-size: 0.75rem;
  }

  .arrowCollapse {
    width: 0.9375rem;
  }

  .arrowCollapseRotate {
    width: 0.9375rem;
  }
}
