.articleCollapse {
  margin: auto;
  margin-bottom: 1.875rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.125rem;
  overflow: hidden;
  min-height: 3.25rem;
}

.btnCollapse {
  z-index: 300;
  width: 95%;
  height: 3.25rem;
  font-size: 1.125rem;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.625rem;
  border: rgba(31, 78, 121, 0.936);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnCollapse span {
  width: 100%;
  height: inherit;
  margin-left: 2%;
  margin-right: auto;
  color: white;
  display: flex;
  align-items: center;
}

.btnCollapse :hover {
  cursor: pointer;
}
.btnCollapse p {
  width: 40%;
  padding-left: 2%;
  text-align: start;
}
.companyCollapse {
  width: 30%;
  /* width: 15rem; Remmettre si 30% ko en prod*/
  background-color: transparent;
  padding: 0.9375rem 0rem;
  text-align: left;
  margin-left: 0.625rem;
}
p.placeCollapse {
  width: 25%;
  text-align: end;
  padding-right: 20px;
}
.arrowCollapse {
  width: 8%;
  padding: 0.9375rem;
  margin-right: 2%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.arrowCollapseRotate {
  width: 8%;
  padding: 0.9375rem;
  margin-right: 2%;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.collapseContent {
  width: 95%;
  margin-top: -0.25rem;
  margin-bottom: 0rem;
  padding: 3%;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0 0 0.625rem 0.625rem;
  opacity: 0.7;
  transition: margin-top 0.5s ease-in-out, opacity 0.5s ease-in;
}
.functionTitle {
  margin-bottom: 0.625rem;
}
.departmentParagraph {
  margin-bottom: 1.25rem;
}
.collapseContent ul {
  text-align: start;
}
.hidden {
  margin-top: -25.75rem;
  margin-bottom: 0rem;
  padding: 3%;
  list-style: none;
  font-size: 1.5rem;
  color: rgba(31, 78, 121, 0.936);
  opacity: 0;
  transition: margin-top 0.5s ease-in-out, opacity 0.5s ease-out;
}
@media screen and (max-width: 48rem) {
  .articleCollapse {
    width: 100%;
    border-radius: 0.3125rem;
    min-height: 1.875rem;
  }

  .btnCollapse {
    height: 1.875rem;
    border-radius: 0.3125rem;
  }

  .btnCollapse span {
    font-size: 0.75rem;
  }

  .arrowCollapse {
    width: 0.9375rem;
  }

  .arrowCollapseRotate {
    width: 0.9375rem;
  }
}
