header {
  /* max-width : 1440px; */
  height: 6.25rem;
  margin-top: 1.25rem;
  /* margin-bottom: 40px; */
  border-radius: 1.5625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 1.25rem 1.25rem 1.875rem 0.0625rem rgba(31, 78, 121, 0.8);
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  z-index: 20;
}

header nav {
  margin-right: 2%;
  z-index: 1;
}

header ul {
  gap: 1.875rem;
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

header a {
  text-decoration: none;
  font-size: 1.5rem;
}

header ul li :hover {
  text-decoration: underline;
}

header .activePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.875rem;
  height: 3.75rem;
  padding: 0rem 1.25rem;
  border-radius: 0.9375rem;
  text-decoration: underline;
  background-color: rgba(31, 78, 121, 0.6);
}

@media screen and (max-width: 48rem) {
  header img {
    width: 9.0625rem;
  }
  header ul {
    gap: 1.125rem;
  }
  header a {
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
