header {
  width: 98%;
  height: 6.25rem;
  margin-top: 1.25rem;
  border-radius: 1.5625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 1.25rem 1.25rem 1.875rem 0.0625rem rgba(31, 78, 121, 0.8);
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  z-index: 20;
}

header nav {
  margin-right: 2%;
  z-index: 1;
}

header ul {
  gap: 1.875rem;
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

header a {
  text-decoration: none;
}

header ul li :hover {
  text-decoration: underline;
}

header .activePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.875rem;
  height: 3.75rem;
  padding: 0rem 1.25rem;
  border-radius: 0.9375rem;
  text-decoration: underline;
  background-color: rgba(31, 78, 121, 0.6);
}

/* Début version écrans de 320px jusqu'à 421px*/
@media all and (min-width: 320px) and (max-width: 421px) {
  /* Début Remplacement du texte "Curriculum Vitae" par "Cv" quand la page est active*/
  .cv {
    text-indent: -9999rem;
    line-height: 0;
  }
  .cv::after {
    content: 'cv';
    text-indent: 0;
    display: block;
  }
  /* Fin Remplacement du texte "Curriculum Vitae" par "Cv" quand la page est active*/

  /* Début Remplacement du texte "Curriculum Vitae" par "Cv" quand la page est inactive*/
  .cv2 {
    font-size: 0rem;
  }
  .cv2::before {
    content: 'cv';
    text-indent: 0;
    font-size: 0.875rem;
  }
  /* Fin Remplacement du texte "Curriculum Vitae" par "Cv" quand la page est inactive*/
}
/* Fin version écrans de 320px jusqu'à 421px*/

/* Début version écrans jusqu'à 768px*/
@media all and (max-width: 768px) {
  header nav {
    width: 90%;
    margin: auto;
  }
  header ul {
    gap: 1.125rem;
  }
  header .activePage {
    border-radius: 0.3125rem;
  }
  header a {
    text-transform: uppercase;
  }
}
/* Fin version écrans jusqu'à 768px*/
