* {
  position: relative;
  padding: 0%;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
}

body {
  max-width: 90rem;
  margin: auto;
  background: linear-gradient(
    15deg,
    rgba(4, 46, 86, 0.936),
    #0499cf,
    rgba(4, 46, 86, 0.936),
    #0499cf,
    rgba(4, 46, 86, 0.936),
    #0499cf
  );
  background-size: 100% 500%;
}
main {
  width: 90%;
}
h2 {
  font-size: 1.5625rem;
  font-weight: bold;
}
h3 {
  font-size: 1.375rem;
  font-weight: bold;
}
h4,
a {
  font-size: 1.25rem;
}
p,
li,
span {
  font-size: 1.125rem;
}
.charFront {
  font-size: 2.5rem;
}

/* Début version Ecrans de 320px jusqu'à 529px*/
@media all and (min-width: 320px) and (max-width: 529px) {
  h2 {
    font-size: calc(0.7 * 1.5625rem); /*=17.5px*/
    font-weight: bold;
  }
  h3 {
    font-size: calc(0.75 * 1.375rem); /*=16.5px*/
    font-weight: bold;
  }
  h4,
  a {
    font-size: calc(0.7 * 1.25rem); /*=14px*/
  }
  p,
  li,
  span {
    font-size: calc(0.75 * 1.125rem); /*=13.5px */
  }
}
/* Fin version Ecrans de 320px jusqu'à 529px*/

/* Début version Mobile jusqu'à 529px*/
@media all and (max-width: 529px) {
  .charFront {
    font-size: calc(0.5 * 2.5rem);
  }
}
/* Fin version Mobile jusqu'à 529 px*/

/* Début version Ecrans de 530px jusqu'à 768px*/
@media all and (min-width: 530px) and (max-width: 768px) {
  h2 {
    font-size: calc(0.75 * 1.5625rem); /*=18.75px*/
    font-weight: bold;
  }
  h3 {
    font-size: calc(0.8 * 1.375rem); /*=17.6px*/
    font-weight: bold;
  }
  h4,
  a {
    font-size: calc(0.75 * 1.25rem); /*=15px*/
  }
  p,
  li,
  span {
    font-size: calc(0.85 * 1.125rem); /*=15.3px */
  }
}
/* Fin version Ecrans de 530px jusqu'à 768px*/

/* Début version Ecrans de 769px jusqu'à 1024px*/
@media all and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: calc(0.8 * 1.5625rem); /*=20px*/
    font-weight: bold;
  }
  h3 {
    font-size: calc(0.85 * 1.375rem); /*=18.7px*/
    font-weight: bold;
  }
  p,
  li,
  span {
    font-size: calc(0.9 * 1.125rem); /*=16.2px */
  }
}
/* Fin version Ecrans de 769px jusqu'à 1024px*/

@media all and (max-width: 1440px) {
  main {
    width: 98%;
  }
}
