* {
  position: relative;
  max-width: 100vw;
  padding: 0%;
  margin: 0%;
  max-width: 90rem;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
}

body {
  /* min-height: 100vh; */
  /* max-width: 1440px; */
  padding-top: 1.25rem;
  margin: 0rem 1.25rem;
  /* background-color: rgba(31, 78, 121, 0.936); */
  /* background: linear-gradient(
    45deg,
    #21295c,
    #1b3b6f,
    #065a82,
    #065a82,
    #21295c,
    #1b3b6f,
    #065a82
  ); */
  background: linear-gradient(
    15deg,
    rgba(4, 46, 86, 0.936),
    #0499cf,
    rgba(4, 46, 86, 0.936),
    #0499cf,
    rgba(4, 46, 86, 0.936),
    #0499cf
  );
  background-size: 100% 500%;
  /* overflow-x: hidden; */
}
p,
li {
  font-size: 1.25rem;
}
/* @keyframes gradient {
  0% {
    background-position: 0% 100%;
  } */
/* 50% {
    background-position: 100% 200%;
  } */
/* 100% {
    background-position: 0% 50%;
  }
} */

/* main {
  max-width: 1440px;
  min-height: 100%; */
/* position:relative; */
/* padding-bottom:100px;   Hauteur du pied de page */
/* } */

/* @media screen and (min-width:769px) and (max-width: 1024px) {
  h2,h3,p{
    scale: 0.5 }
  } */
#root {
  width: inherit;
  margin: inherit;
}
