.wrapperCv {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.625rem;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 3.125rem;
}
.bannerCv {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 30px 0px;
  display: grid;
  align-items: center;
  grid-column: 1/8;
  justify-content: center;
  /* max-width: 90rem; */
  /* margin: auto; */
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.h1TitleCvContainer {
  scale: 0.75;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0.625rem;
}
h2 {
  width: 95%;
  /* height: 3.6875rem; */
  padding: 0.9375rem;
  margin: 1.875rem auto;
  border-radius: 0.625rem;
  /* font-size: 1.5625rem; */
  font-weight: bold;
  text-align: center;
  background-color: rgba(31, 78, 121, 0.936);
}
h3 {
  /* font-size: 1.375rem; */
  font-weight: bold;
}
ul {
  padding: 0.625rem;
}
li {
  padding: 0.3125rem 0rem;
}
#item-0 {
  height: 3.6875rem;
}
.item-1 {
  width: 95%;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.9375rem;
}
.handStyle {
  margin-left: 3.75rem;
  margin-right: 1.875rem;
}
.item-1 li {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  text-align: start;
}
.item-1 span {
  margin-left: 0rem;
}
.leftSection {
  border-radius: 0.9375rem;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  grid-column: 1/3;
  grid-row: 2/ 12;
}
.leftSection ul {
  width: 95%;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.9375rem;
  list-style-type: none;
}
.leftSection ul li {
  width: 90%;
  /* margin: auto; */
  /* display: flex;
  justify-content: flex-start; */
  /* text-align: start; */
}
.studies li {
  display: flex;
  text-align: start;
}
.degreeStyle {
  width: 10%;
  margin-left: 0rem;
  margin-right: 0.625rem;
}
.studies span {
  width: 80%;
  margin-left: 0rem;
}
.asset {
  width: 95%;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  background-color: rgba(31, 78, 121, 0.936);
}
.asset > div {
  margin-bottom: 1.25rem;
}
.ratingDiv {
  margin-top: 0.625rem;
}
.star {
  color: blueviolet;
}
.language {
  margin-bottom: 1.25rem;
}
/* .language > p {
  font-size: 1.25rem;
} */
.flag {
  width: 3.125rem;
}
.hobbies {
  margin-bottom: 1.875rem;
}
.hobbiesStyle {
  margin-right: 0.625rem;
  margin-left: 0rem;
}
.rightSection {
  width: 100%;
  grid-column: 3/8;
  border-radius: 0.9375rem;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
}
.logoCompany {
  width: 6%;
  padding: 0.4%;
}
.logoCompany1 {
  width: 20%;
}
.logoCompany6 {
  width: 10%;
}

/* Début version commune Mobile de 320px jusqu'à 768px*/
@media all and (max-width: 768px) {
  .wrapperCv {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .bannerCv { */
  /* width: 90%; */
  /* display: grid;
    justify-content: center;
    align-items: center; */
  /* } */
  .h1TitleCvContainer {
    width: 100%;
    margin: 0px auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
  }
  h1.h1TitleCvContainer > .letterContainer10 {
    grid-column: 1 /4;
    grid-row: 2 / 2;
    visibility: hidden;
  }
  .leftSection {
    /* max-width: 390px; */
    width: 100%;
    grid-column: 1/8;
    grid-row: 4/25;
  }
  .rightSection {
    /* width: 90%;
    max-width: 390px; */
    grid-column: 1/8;
  }
}
/* Fin version commune Mobile de 320px jusqu'à 768px*/

/* Début version Mobile jusqu'à 529px*/
@media all and (max-width: 529px) {
  /* .bannerCv {
    max-width: 390px;
  } */
  .h1TitleCvContainer {
    scale: 0.8;
  }
  .handStyle {
    margin-left: 0.6rem;
  }
  .btnCollapse p {
    width: 24%;
  }
  .logoCompany {
    display: none;
  }
  .companyCollapse {
    text-align: center;
  }
  .placeCollapse {
    display: none;
  }
}
/* Fin version Mobile jusqu'à 529 px*/

/* Début version Mobile de 530px jusqu'à 768px*/
@media all and (min-width: 530px) and (max-width: 768px) {
  /* .bannerCv {
    max-width: 575px;
  } */
  .h1TitleCvContainer {
    scale: 0.7;
  }
}
/* Fin version Mobile de 530px jusqu'à 768px*/

/* Début version Mobile de 769px jusqu'à 1024px*/
@media all and (min-width: 769px) and (max-width: 1024px) {
  .h1TitleCvContainer {
    scale: 0.6;
  }
}
/* Fin version Mobile de 769px jusqu'à 1024px*/
