.wrapperCv {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.625rem;
  text-align: center;
  margin-bottom: 3.125rem;
}
.bannerCv {
  height: auto;
  grid-column: 1/3;
  max-width: 90rem;
  margin: 3.75rem 0rem 2.5rem 0rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.h1TitleCvContainer {
  width: 100%;
  margin: 3.75rem 0rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
h2 {
  width: 95%;
  height: 3.6875rem;
  padding: 0.9375rem;
  margin: 1.875rem auto;
  border-radius: 0.625rem;
  font-size: 1.5625rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(31, 78, 121, 0.936);
}
h3 {
  font-size: 1.375rem;
  font-weight: bold;
}
ul {
  padding: 0.625rem;
}
li {
  padding: 0.3125rem 0rem;
  /* display: flex; */
}
#item-0 {
  height: 3.6875rem;
}
#item-1 {
  width: 95%;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.9375rem;
}
.handStyle {
  margin-right: 1.875rem;
}
#item-1 li {
  width: 95%;
  margin: auto;
  margin-left: 4.375rem;
  list-style-type: none;
  text-align: start;
}
.leftSection {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
  grid-row: 2/ 12;
}
.leftSection ul {
  width: 95%;
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.9375rem;
  list-style-type: none;
}
.leftSection ul li {
  width: 85%;
  margin: auto;
  text-align: start;
}
.degreeStyle {
  margin-right: 0.625rem;
}
.asset {
  width: 95%;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  background-color: rgba(31, 78, 121, 0.936);
}
.asset > div {
  margin-bottom: 1.25rem;
}
.ratingDiv {
  margin-top: 0.625rem;
}
.star {
  color: blueviolet;
}
.language {
  margin-bottom: 1.25rem;
}
.language > p {
  font-size: 1.25rem;
}
.flag {
  width: 3.125rem;
}
.hobbies {
  margin-bottom: 1.875rem;
}
.hobbiesStyle {
  margin-right: 0.625rem;
}
.rightSection {
  width: 100%;
  border-radius: 0.9375rem;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}
.logoCompany {
  width: auto;
  padding: 0.4%;
}
