.degreesSection {
  margin: 3.75rem 0rem;
}

.banner {
  position: relative;
  max-width: 90rem;
  margin: 3.75rem 0rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.h1TitleDegreesContainer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  margin: 3.75rem 0rem; */
  width: 63%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 3.75rem auto;
  gap: 0.625rem;
}

/* Début version Mobile jusqu'à 768px*/
@media all and (max-width: 768px) {
  /* .h1TitleDegreesContainer > .letterContainerOtherPages3 {
    display: none;
  } */
}
/* Fin version Mobile*/
