.degreesSection {
  margin: 3.75rem 0rem;
}

.banner {
  position: relative;
  max-width: 90rem;
  margin: 3.75rem 0rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.h1TitleDegreesContainer {
  width: 63%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 3.75rem auto;
  gap: 0.625rem;
}

/* Début version Mobile jusqu'à 529px*/
@media all and (max-width: 529px) {
  .degreesSection {
    width: 90%;
    max-width: 390px;
    height: 150px;
    grid-column: 1/3;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 30px 5%;
  }
  .h1TitleDegreesContainer {
    width: 100%;
    margin: 0px auto;
    scale: 0.8;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 40.59px);
    gap: 3px;
  }
  h1.h1TitleDegreesContainer > .letterContainer3 {
    grid-column: 4 /9;
    grid-row: 1 / 2;
    visibility: hidden;
  }
}
