.banner {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;
  padding: 1.875rem;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.h1TitleDegreesContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.625rem;
}

/* Début version commune écrans jusqu'à 768px*/
@media all and (max-width: 768px) {
  .degreesSection {
    padding: 1.875rem 0rem;
  }
}
/* Fin version commune écrans jusqu'à 768px*/

/* Début version écrans jusqu'à 529px*/
@media all and (max-width: 529px) {
  .h1TitleDegreesContainer {
    margin: 0rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.1875rem;
  }
  h1.h1TitleDegreesContainer > .letterContainer3 {
    grid-column: 4 /9;
    grid-row: 1 / 2;
    visibility: hidden;
  }
}
/* Fin version écrans jusqu'à 529 px*/

/* Début version écrans de 530px jusqu'à 768px*/
@media all and (min-width: 530px) and (max-width: 768px) {
  .h1TitleDegreesContainer {
    scale: 0.55;
  }
}
/* Fin version écrans de 530px jusqu'à 768px*/

/* Début version écrans de 769px jusqu'à 1024px*/
@media all and (min-width: 769px) and (max-width: 1024px) {
  .h1TitleDegreesContainer {
    scale: 0.8;
  }
}
/* Fin version écrans de 769px jusqu'à 1024px*/
