main {
  /* position: relative; */
  max-width: 90rem;
}
.bannerHome {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  margin: 3.75rem 0rem 2.5rem 0rem;
  padding: 30px;
  background-color: rgba(38, 108, 174, 0.936);
  border-radius: 1.5625rem;
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  box-shadow: 0.75rem 0.75rem 1.25rem 0.0625rem rgba(31, 78, 121, 0.8);
}

.image {
  display: flex;
  justify-content: center;
  object-fit: cover;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 1.5625rem;
  overflow: hidden;
  animation: imageScale 1.5s ease forwards;
}

@keyframes imageScale {
  0% {
    width: 0rem;
    height: 0rem;
    transform: rotateY(0deg);
    opacity: 0;
  }

  100% {
    width: 12.5rem;
    height: 12.5rem;
    transform: rotateY(-1080deg);
    opacity: 1;
  }
}
.h1Title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.625rem;
}

.letterContainer {
  margin: auto;
}

.wrapper {
  overflow: hidden;
  padding-top: 1.25rem;
  margin-bottom: 12.5rem;
  /* min-height: 50vh; */
}

.mouseScroll,
.arrowScroll {
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 83vw;
  /* right: 130px; */
  /* margin-left: -60px; */
  /* height: 120px; */
  /* margin: -200 auto 0 auto; */
  width: 7.5rem;
  /* background-color: rgba(31, 78, 121, 0.936); */
  background-color: #0499cf;
  opacity: 0.7;
  border-radius: 0.625rem;
}
.arrowScroll :hover {
  cursor: pointer;
}
/* .upArrowsContainer {
  display: none;
}

.downArrowsContainer {
  display: none;
} */
.upWindow {
  width: 2.25rem;
  padding: 2.3253125rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 180deg;
  display: none;
}
.mouseIcon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowMouse {
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Début version commune Mobile de 320px jusqu'à 768px*/
@media all and (max-width: 768px) {
  .bannerHome {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
}
/* Fin version commune Mobile de 320px jusqu'à 768px*/

/* Début version Mobile jusqu'à 529px*/
@media all and (max-width: 529px) {
  .bannerHome {
    display: flex;
    max-width: 24.375rem;
    padding: 15px 0px;
    padding-right: 5px;
  }
  .image {
    max-width: 80px;
    max-height: 80px;
    scale: 0.8;
    margin: auto;
    border-radius: 50% 50%;
  }
  .h1Title {
    width: 70%;
    scale: 0.8;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
  }
  h1.h1Title > .letterContainer4 {
    margin-left: 0px;
    grid-column: 5 /8;
    grid-row: 1 / 2;
    visibility: hidden;
  }
  .paragraphContainer {
    max-width: 24.375rem;
  }
  .mouseScroll,
  .arrowScroll {
    position: fixed;
    top: 100vh;
    left: 83vw;
  }
}
/* Fin version Mobile jusqu'à 529 px*/

/* Début version Mobile de 530px jusqu'à 768px*/
@media all and (min-width: 530px) and (max-width: 768px) {
  .bannerHome {
    max-width: 575px;
    padding-bottom: 15px;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .image {
    max-width: 100px;
    max-height: 100px;
    margin: 0px auto;
    /* margin-bottom: 20px; */
    border-radius: 0.763rem;
  }
  .h1Title {
    scale: 0.5;
  }
}
/* Fin version Mobile de 530px jusqu'à 768px*/
