footer {
  width: 98%;
  border-radius: 1.5625rem;
  padding-top: 4.0625rem;
  background-color: rgba(38, 108, 174, 0.936);
  box-shadow: 1.25rem 1.25rem 1.875rem 0.0625rem rgba(31, 78, 121, 0.8);
  border: 0.1875rem solid rgba(31, 78, 121, 0.936);
  margin: auto;
  text-align: center;
}
.contactDiv {
  max-width: 60%;
  margin: auto;
  display: flex;
}
footer a {
  display: flex;
  margin: auto;
  text-decoration: none;
}
footer a:hover {
  scale: 1.2;
  background-color: white;
  border-color: rgba(31, 78, 121, 0.936);
  background-color: rgba(31, 78, 121, 0.936);
  border-radius: 0.3125rem;
}
.iconsLink {
  font-size: 2.5rem;
  margin-right: 0.625rem;
  padding-left: 0.3125rem;
}
footer span {
  font-size: 1.25rem;
  padding-right: 0.625rem;
  display: flex;
  align-items: center;
}

footer p {
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

/* Début version Ecrans jusqu'à 540px*/
@media all and (max-width: 540px) {
  .contactDiv {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
/* Fin version Ecrans jusqu'à 540px*/

/* Début version Ecrans de 541px à 768px*/
@media all and (min-width: 541px) and (max-width: 768px) {
  .contactDiv {
    width: 95%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
/* Fin version Ecrans de 541px à 768px*/

/* Début version commune Ecrans jusqu'à 768px*/
@media all and (max-width: 768px) {
  footer {
    padding-top: 1.5rem;
  }
  footer a {
    width: 95%;
  }
  footer i {
    width: 50%;
    margin-right: 0rem;
    text-align: end;
  }
  footer span {
    width: 75%;
    margin-left: 0rem;
    white-space: nowrap;
  }
  footer p {
    margin-top: 1.5rem;
  }
}
/* Fin version commune Ecrans jusqu'à 768px*/
