.slider {
  position: relative;
  height: 62.5rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 3.75rem;
  border-radius: 1.5625rem;
  box-shadow: 1.25rem 1.25rem 1.875rem 0.0625rem rgba(31, 78, 121, 0.8);
  visibility: hidden;
  animation: sliderAppear 0.5s ease 2.4s forwards;
}

@keyframes sliderAppear {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.picturesContainer {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  border-radius: inherit;
  transition: transform 0.3s ease-in-out;
}

.picturesDegrees {
  min-width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.arrow_navigate {
  width: 100%;
  height: inherit;
  margin: 0rem;
  gap: 85%;
  position: absolute;
  top: 0;
  display: flex;
  padding: 0rem 1.5625rem;
  z-index: 1;
}

.arrow {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.rightArrow {
  rotate: 180deg;
}

.arrow_navigate :hover {
  width: 5rem;
  height: 5rem;
  padding: 0.00625rem;
  background-color: rgb(185, 183, 183);
  border-radius: 50%;
  cursor: pointer;
}

.numberPicture {
  position: absolute;
  bottom: 1.25rem;
  width: 6%;
  height: 3.125rem;
  margin-left: 47%;
  margin-right: 47%;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 78, 121, 0.936);
}

@media screen and (max-width: 48rem) {
  .slider {
    height: 15.9375rem;
  }

  .arrow_navigate {
    top: 33%;
    align-items: center;
    padding: 0.9375rem;
  }

  .arrow_navigate img {
    width: 0.75rem;
    height: 0.75rem;
  }

  .numberPicture {
    font-size: 0.75rem;
    /* visibility: hidden; */
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {
  .arrow_navigate img {
    width: 1.125rem;
    height: 1.125rem;
  }

  .arrow_navigate {
    top: 38%;
    align-items: center;
    padding: 0.9375rem;
  }
}
